/** {
  border: 1px solid darkgray;
}*/

body {
  color: #333333;
  /*background-color: #E65292; This is the pink background color. */
  background-color: #1FA3AA;
  font-size: 100%;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
}

main {
  background-color: #ffffff;
}

h1 {
  color: #333333;
  font-family: 'Chonburi', serif;
  font-size: 2.5em;
}

h2 {
  font-family: 'Chonburi', serif;
  font-size: 1.4em;
  font-style: normal;
  color: #333333;
}

h3 {
  font-weight: bold;
}

img {
  border: 1px darkgray solid;
  width: 100%;
}

article header {
  font-style: italic;
  color: #aaaaaa;
}

a:link {
  color: #1FA3AA;
  text-decoration: none;
}

a:visited {
  color: #1FA3AA;
  text-decoration: none;
}

a:hover {
  color: #E65292;
  text-decoration: underline;
}

footer {
  font-size: .7em;
  color: #aaaaaa;
}

.recipeheaders {
  font-weight: bold;
}

.calledout {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70%;
}
