
h1 {
  float: left;
}

h2 {
  margin-top: 50px;
}

footer p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.page-container {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.nav-social img {
  border: none;
  width: 50px;
}

.blogpost-template {
  display: none;
}

.clearfix::after {
  /* this is code borrowed from the Lab example */
  content: "";
  display: table;
  clear: both;
}

.nav-list {
  background-color: #cccccc;
  border-radius: 10px;
  padding: 2px 20px;
}
