
h1 {
  /*float: left; */ /* Do this again when line up hamburger icon correctly. */
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 50px;
}

footer p {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

article img {
  width: 50%;
  float: right;
  padding: 0px 0px 20px 20px;
  border: none;
  min-width: 360px;
}

.page-container {
  margin: 40px 60px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 360px;
}

.blogpost-template {
  display: none;
}

.clearfix::after {
  /* this is code borrowed from the Lab example */
  content: "";
  display: table;
  clear: both;
}

.nav-list {
  /*background-color: #cccccc;*/ /* Want to add this back in in future. */
  border-radius: 10px;
  padding: 2px 20px;
}
